<select class='profile-input' name='gender_identity' id='gender_identity'>
  <option value=''>Prefer not to say</option>
  <option value='Male'>Male</option>
  <option value='Female'>Female</option>
  <option value='Bigender'>Bigender</option>
  <option value='Agender'>Agender</option>
  <option value='Androgyne'>Androgyne</option>
  <option value='Genderqueer'>Genderqueer</option>
  <option value='Third'>Third</option>
  <option value='Fourth'>Fourth</option>
  <option value='Fluid'>Fluid</option>
  <option value='Questioning'>Questioning</option>
  <option value='Other'>Other</option>
</select>