<select class='profile-input' name='sexual_orientation' id='sexual_orientation'>
  <option value=''></option>
  <option value='Heterosexual'>Heterosexual</option>
  <option value='Homosexual'>Homosexual</option>
  <option value='Bisexual'>Bisexual</option>
  <option value='Queer'>Queer</option>
  <option value='Questioning'>Questioning</option>
  <option value='Asexual'>Asexual</option>
  <option value='Aromantic'>Aromantic</option>
  <option value='Pansexual'>Pansexual</option>
  <option value='Demisexual'>Demisexual</option>
  <option value='Demiromantic'>Demiromantic</option>
  <option value='Polyamorous'>Polyamorous</option>
  <option value='Other'>Other</option>
</select>