<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>devSpark - develop a connection</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/styles.css' />
    {{!-- <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/img/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/img/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/img/favicon-16x16.png'
    />
    <link rel='manifest' href='/site.webmanifest' /> }} --}}
  </head>
  
  <script src='/socket.io/socket.io.js'></script>
  <script>
    var socket = io();

    socket.emit('open-notifications');
    socket.on('update-notifications', (data) => {
      document.getElementById('notif-count').textContent = data;
    });
  </script>

  <body>

    <div class='wrapper'>

      <header>
        <h1>
          <a href='/'>devspark</a><br />
          userID: {{userID}}
          Unread Messages: <span id="notif-count"></span>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href='/chat'>chat</a>
            <button id='logout' class='btn-no-style'>logout</button>
          {{else}}
            <a href='/login'>login</a>
          {{/if}}
        </nav>
      </header>

      <main>
        {{{body}}}
      </main>

      {{! <footer>
        placeholder
      </footer> }}

    </div>

    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}

  </body>

</html>