<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>devSpark - ready to commit?</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/styles.css' />
    
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/img/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/img/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/img/favicon-16x16.png'
    />
    <link rel='manifest' href='/site.webmanifest' />
  </head>
  
  <script src='/socket.io/socket.io.js'></script>
  {{#if loggedIn}}<script src='/js/notifications.js'></script>{{/if}}

  <body>
    {{#if loggedIn}}
      <header class="header-two">
        <nav>
          <img class="logo" src="../img/Asset 5.svg" alt="">
          {{!--hamburger bar for mobile --}}
        <button class="hamburger" id="hamburger">
          <i class="fas fa-bars"></i>
        </button>
          <ul class="nav-ul" id="nav-ul">
            <li><a href='/profile/{{userID}}'>My Profile (ID: {{userID}})</a></li>
            <li><a href='/chat'>My Conversations (<span id="notif-count"></span>)</a></li>
            <li><a href='/search'>Find Developers</a></li>
            <li><a id='logout'>Logout</a></li>
          </ul>
          </nav>
    {{else}}
      <header class="header-one">
        <nav>
          <img class="logo" src="../img/Asset 5.svg" alt="">
          <ul>
            
            <button class="log-btn" href="/login">Log In</button>
    {{/if}}
    </nav>
      


      <main>
        {{{body}}}
      </main>


      <footer class="footer">
        <span>Copyright <i class="far fa-copyright"></i> 2022 All Rights Reserved</span>
      </footer> 


    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}


<script src="/js/ham.js"></script>
  </body>

</html>