<form id='block-user-form' name='block-user-form' action='/api/users/block' method='post'>
Enter USERID of user to block.
  <input type="text" name="blockedID" id="blocked-id" />
  <button type="submit">Block User</button>
</form>