<div id="wrapper">
  <h2>Your Blocklist</h2>
{{#if blockedUsers}}
  <div id="block-list">
  {{#each blockedUsers}}
    <form class="blocked-user" action='/api/users/unblock' method='post'>
      <label for='unblockedID'><a href="/profile/{{this.id}}">{{this.username}}</a></label>
      <input type='hidden' name='unblockedID' id='unblockedID' value='{{this.id}}' />
      <button class='btn' type='submit'>Unblock</button>
    </form>
  {{/each}}
  </div>
{{else}}
Your blocklist is empty.
{{/if}}
</div>