<script src='/socket.io/socket.io.js'></script>
<script>
  var socket = io();
</script>

<div id="active-chats-container">
</div>

<script>

  const activeChats = [{{activeChats}}];
  console.log(activeChats)

  function redirect(activeChat) {
    window.location.replace(window.location + '/' + activeChat);
  }

  activeChats.forEach(activeChat => {
    console.log(activeChat);
    document.getElementById('active-chats-container').innerHTML += `<div><a class="active-chat-btn" href='/chat/${activeChat}'>${activeChat}</a>
    
    <form id='block-user-form' name='block-user-form' action='/api/users/block' method='post'>
  <input type="hidden" name="blockedID" id="blocked-id" value=${activeChat} />
  <button type="submit">Block User</button>
</form></div>`;
  });
</script>