<script src='/socket.io/socket.io.js'></script>
 <script>
      var socket = io();
      function setUsername(){
        // emit to the server the setUsername event
         socket.emit('setUsername', document.getElementById('name').value);
      };
      var user;
      // if userExists event comes back from server, set error status
      socket.on('userExists', function(data){
         document.getElementById('error-container').innerHTML = data;
      });
      // if userSet event comes back from server, switch to chat box
      socket.on('userSet', function(data){
         user = data.username;
         document.body.innerHTML = '<input type="text" id="message">\
         <button type="button" name="button" onclick="sendMessage()">Send</button>\
         <div id="message-container"></div>';
      });
      // emit msg event back to server with each sent message
      function sendMessage(){
         var msg = document.getElementById('message').value;
         if(msg){
            socket.emit('msg', {message: msg, user: user});
         }
      }
      // when newmsg event comes from server, add that message to the html
      socket.on('newmsg', function(data){
         if(user){
            document.getElementById('message-container').innerHTML +='<div><b>' + data.user + '</b>: ' + data.message + '</div>'
         }
      })
   </script>
   <body>
      <div id="error-container"></div>
      <input id="name" type="text" name="name" value="" placeholder="Enter your name!">
      <button type="button" name="button" onclick="setUsername()">Let me chat!</button>
      </body>
   </html>