<script src='/socket.io/socket.io.js'></script>
<script>
  var socket = io();
  function sendMessage() {
    var msg = document.getElementById('message').value;
    if(msg) { 
      socket.emit('msg', { message: msg, sender: {{ senderId }}, recipient: {{ recipientId }} }); 
    } 
  } 
  
  socket.on('newmsg', function(data) {
    document.getElementById('message-container').innerHTML +='<div><b>' + data.sender + '</b>' + data.message + '</div>'
  })
</script>
<div id='error-container'></div>
<input type='text' id='message' />
<button type='button' name='button' onclick='sendMessage()'>Send</button>
<div id='message-container'></div>