<script>
  socket.emit('request-chat-list', { user_id: {{ userID }} })

  function convertDate(date) {
      const newDate = new Date(date);
      var dateStr = 
      ("00" + (newDate.getMonth() + 1)).slice(-2) + "/" +
      ("00" + newDate.getDate()).slice(-2) + "/" +
      newDate.getFullYear() + " " +
      ("00" + newDate.getHours()).slice(-2) + ":" +
      ("00" + newDate.getMinutes()).slice(-2) + ":" +
      ("00" + newDate.getSeconds()).slice(-2);
      return dateStr;
    }

  function generateActiveChat(chat) {
    return `
        <div class="active-chat" id="chat-${chat.sender || chat.sender_id}">
          <a class="active-chat-info" href='/chat/${chat.sender || chat.sender_id}'>
            <span class="sender-id">${chat.username || chat.user.username}</span>
            <span class="message-body">${chat.message || chat.body}</span>
            <span class="read-status">${chat.read ? '' : 'Unread'}</span>
            <span class="timestamp">${convertDate(chat.createdAt)}</span>
          </a>
          <div class="active-chat-btns">
            <form id='delete-conversation-form' name='delete-conversation-form' action='/api/users/delete-conversation' method='post'>
              <input type="hidden" name="deletedID" id="deleted-id" value=${chat.sender || chat.sender_id} />
              <button class="btn" type="submit">Delete</button>
            </form>
            <form id='block-user-form' name='block-user-form' action='/api/users/block' method='post'>
              <input type="hidden" name="blockedID" id="blocked-id" value=${chat.sender || chat.sender_id} />
              <button class="btn" type="submit">Block</button>
            </form>
          </div>
        </div>`;
  }

  socket.on('populate-list', data => {
    data.forEach(chat => {
      document.getElementById('active-chats-container').innerHTML += generateActiveChat(chat);
    })
    if (!document.getElementById('active-chats-container').firstChild) { 
      document.getElementById('no-chats-notification').textContent = 'You have no active chats at this time.';
    }
  })

  socket.on('update-list', data => {
    document.getElementById('no-chats-notification').textContent = '';

    const chatElementToUpdate = document.getElementById('chat-' + data.sender_id);

    if (chatElementToUpdate) {
      chatElementToUpdate.remove();
    }

    const newDiv = document.createElement('div');
    newDiv.id = 'chat-' + data.sender_id;
    newDiv.innerHTML = generateActiveChat(data);

    document.getElementById('active-chats-container').prepend(newDiv);
  })
</script>

<div id="wrapper">
  <h2>My Chats</h2>
  <p id='no-chats-notification'></p>
  <div id="active-chats-container"></div>
</div>