
<h1>Forgot Password</h1>

<form action='' method='POST'>
    <div>
        <label for='email'>Email </label>
        <input type='email' name='email' id='email'>
    </div>
    <div>

        <button type='submit' value='submit'>Forgot Password</button>
    </div>
</form>
