

<form action='/api/users/forgot' method='POST'>
    <legend>Forgot Password</legend>
    <div>
        <label for='email'>Email </label>
        <input type='email' name='email' id='email'>
    </div>
    <div>

        <input type='submit' value='Reset Password'>
    </div>
</form>


<script src='/js/forgot.js'></script>