<div class="log-wrapper">
    <div class="title">Did You Forget?</div>
    <form id='forgot-password-form'>
        <div class='field'>
            <input type='email' name='email' id='email' placeholder='Enter Your Email Address'>
        </div>
        <p class='error-text'></p>
        <div>
            <button class="btn long-btn" type='submit'>Request Reset Link</button>
        </div>
    </form>
</div>

<script src='js/forgot.js'></script>