<div id="containter">
    {{#if session.github}}
    <div>
        <a href="https://github.com/users/" + {{session.github}}>
        <span id="githubusername">
        {{session.github}}
        </span>
        </a>
        <div id="repoContainerEl">
            
        </div>
    </div>
    
    {{else}}
    <div>
        <p> {{session.email}} has NO Starred Repos</p>
    </div>
    {{/if}}
</div>
<script src="/js/gitStarred.js"></script>

{{!-- Example of expected link:
https://api.github.com/users/cody-junier/starred? --}}