<form id='image-form' name='image-form' action='/api/images/upload' enctype="multipart/form-data" method='post'>
  <input type="file" name="image" id="file-input" />
  <button type="submit">Upload Image</button>
</form>