<div class="hero-image">
        <div class="hero-text">
          <h1><i>Ready to commit?</i></h1>
          <button class= "sign btn">Sign Up</button>
        </div>
      </div>
    </header>
    <div>
    <section id="about" class="about-section">
        <h2>About Us</h2>
      <p>devSpark was conceived under the need to assist developers across the country connect. Be it for romance or networking..</p>
    </section>
    </div>