            <div class="hero-text">
          <h1><i>Ready to commit?</i></h1>
          <a href="/signup"><button class="sign btn">Sign Up</button></a>
        </div>
        <hr class="divider">
        <section class="about">
 <h1>What is devSpark?</h1>
 <p>Connection is necessary to take all things to the next level: be it a project or a personal relationship. Let devSpark be the link between you and the right kind of nerd you need. Looking for a collaborative teamwork focused new acquaintance? Or a brilliant companion for banter over drinks? Let us help you find that spark!</p>
</section>
      </header>

  