<div class="log-wrapper">
  <div class="title">
    Welcome Back!
  </div>
  <form autocomplete="none" class="login-form">
    <div class="field">
      <input autocomplete="off" type="text" id="login" placeholder="Username or Email Address">
    </div>
    <div class="field">
      <input type="password" id="password" placeholder="Password">
    </div>
    <div class="field">
      <div class="forgot-link">
        <a href='/forgot'>Forgot Password?</a>
      </div>
      <button class="log-btn" type='submit'>Log In!</button>
    </div>
    <ul class='error-text'></ul>
    <small class="sign-link">
      Not a member? <a href='/signup'>Sign up now</a>
    </small>
  </form>
</div>

<script src='/js/login.js'></script>

