<form class='login-form'>
  <div>
    <label for='login'>username or email:</label>
    <input type='text' id='login' />
  </div>
  <div>
    <label for='password'>password:</label>
    <input type='password' id='password' />
  </div>
  <div>
    <button type='submit'>login</button>
  </div>
</form>

<p class='error-text'></p>

<p>Don't have an account? <a href='/signup'>Sign up</a> now.</p>
<p>Forgot your password? <a href='/forgot'>Click here</a> to request a reset token be sent to your email address.</p>

<script src='/js/login.js'></script>