<div class="log-wrapper">
  <div class="title">
    Reset Your Password
  </div>
    <form action='/api/users/reset/{{token}}' class='reset-password' method='POST'>
        <div class='field'>
            <input type='password' name='password' id='password' placeholder="New Password">
        </div>
        <div class='field'>
            <input type='password' id='confirm-password' name='confirm' placeholder='Confirm Password'>
        </div>
        <p class='error-text'></p>
        <div>
            <button class="btn long-btn" type='submit'>Reset Password</button>
        </div>
    </form>
</div>

<script src='/js/reset.js'></script>