
<div>
    <h1>Reset password for {{ email }} </h1>

    <form class='reset-password' method='POST'>
        <div>
            <label for='password'>Password</label>
            <input type='password' name='password' id='password'>
            <br>
            <label for='password2'>Confirm Password</label>
            <input type='password' name='password2' id='password2'>
            <br>
            <input type='submit' value='reset password'>
        </div>
        
    </form>
</div>
