<div id="wrapper">

<h2>Search for a Spark</h2>

<form autocomplete="none" id="search-form">
    <div id="search-form-container">
        <div id='search-form-inputs'>
            <div>
                <label class="form-label" for='city'>City</label>
                <input autocomplete="off" class="form-field" type='text' name='city' id='city'>
            </div>
            <div class='dropdown-list'>
                <label class="form-label" for='state'>State</label>
                {{> states-dropdown}}
            </div>
            <div class='dropdown-list'>
                <label class="form-label" for='gender_identity'>Gender identity</label>
                {{> genders-dropdown }}
            </div>
            <div class='dropdown-list'>
                <label class="form-label" for='sexual_orientation'>Sexual orientation</label>
                {{> sexuality-dropdown }}
            </div>
        </div>
        <div id='search-form-skills'>
            <div class="boxes">
                {{> skills-checkboxes}}
            </div>
        </div>
    </div>

    <div>
        <br>
        <input class='btn' id='search-btn' type='submit' value='Search'>
    </div>
</form>

<script src='/js/search.js'></script>