<div class="log-wrapper">
  <div class="title">
    Sign up to find your Spark!
  </div>
  <form autocomplete="none" id="signup-form" class="login-form">
    <div class="field">
    <input autocomplete="off" type="email" id="email" placeholder="Email Address">
    </div>
    <div class="field">
    <input autocomplete="off" type="text" id="username" placeholder="Username">
    </div>
     <div class="field">
    <input type="password" id="password" placeholder="Password">
    </div>
    <div class="field">
    <input type="password" id="confirm" placeholder="Confirm Password">
    </div>
      <button class="sign-btn" type='submit'>Create Account</button>
    <ul class="error-text"></ul>
    <small class="log-link">
Already have an account? <a href='/login'>Log in Here</a>
    </small>
  </form>
</div>

<script src='/js/signup.js'></script>