<form class='signup-form'>
  <div>
    <label for='email-signup'>email:</label>
    <input type='text' id='email-signup' />
  </div>
    <div>
    <label for='username-login'>username:</label>
    <input type='text' id='username-login'>
  </div>
  <div>
    <label for='password-signup'>password:</label>
    <input type='password' id='password-signup' />
  </div>
  <div>
    <label for='confirm-signup'>confirm password:</label>
    <input type='password' id='confirm-signup' />
  </div>
  <div>
    <button type='submit'>signup</button>
  </div>
</form>

<p class='error-text'></p>

<p>Already have an account? <a href='/login'>Login</a> instead.</p>

<script src='/js/signup.js'></script>